//====================================================================================================
.page {}

.hero {

  /* .hero__container */
  background-image: url('@img/hero/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  @include adaptiveValue("height", 949, 610);
  padding-top: 158px;
  margin-top: -100px;

  &__container {}

  /* .hero__wrapp */

  &__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* .hero__content */

  &__content {
    @include adaptiveValue("margin-bottom", 85, 70);
  }

  /* .hero__title */

  &__title {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 60px;
    @include adaptiveValue("font-size", 60, 30);
    font-weight: 800;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: left;
    @include adaptiveValue("margin-bottom", 30, 15);
    max-width: 680px;
  }

  /* .hero__description */

  &__description {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 25px;
    @include adaptiveValue("font-size", 25, 18);
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    max-width: 469px;
    @include adaptiveValue("margin-bottom", 91, 45);
  }

  &__btn {
    display: none;
    padding: 13px 74px;
    border-radius: 200px;
    background: rgb(244, 104, 63);
    font-size: 14px;

    @media (max-width: em(667)) {
      display: block;
    }
  }

  /* .hero__slider */

  &__slider {
    width: 660px;
    margin-left: 0;

    @media (max-width: em(667)) {
      display: none;
    }
  }

  /* .hero__wrapper */

  &__wrapper {}

  /* .hero__slide */

  &__slide {}

  /* .hero__img */

  &__img {
    border-radius: 16px;
    background: rgba(18, 22, 38, 0.2);
  }

  /* .hero__text */

  &__text {
    max-width: 159px;
    text-align: center;
    padding-top: 14px;
  }

  /* .hero__form */

  &__form {}

  /* .hero__social */

  &__social {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  /* .hero__social-link */

  &__social-link {}
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.s-button-prev {
  position: relative;
  top: 7px;
  left: 0px;
}

.s-button-next {
  position: relative;
  left: 20px;
}

//====================================================================================================
.form {

  /* .form__box */
  padding: 30px 25px;
  color: rgb(68, 68, 68);
  border-radius: 20px;
  background-color: #fff;
  max-width: 360px;

  @media (max-width: em(1032)) {
    display: none;
  }

  &__label-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  &__box {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }

  /* .form__label */

  &__label {}

  /* .form__input */

  &__input {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid rgb(192, 194, 215);
    border-bottom-left-radius: 200px;
    border-top-left-radius: 200px;
  }

  &__input--before {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 200px;
    border-top-right-radius: 200px;
  }

  /* .form__label-people */

  &__label-people {
    margin-bottom: 6px;
    display: block;
  }

  /* .form__people */

  &__people {
    width: 100%;
    border: 1px solid rgb(192, 194, 215);
    border-radius: 200px;
    padding: 12px 20px;
    margin-bottom: 48px;
  }

  &__btn {
    padding: 10px 10px;
    color: white;
    width: 100%;
    border-radius: 200px;
    background: rgb(244, 104, 63);
  }
}

.filter-price {
  &__lable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    margin-bottom: 44px;
  }
}

.irs--flat {
  height: 30px;
}

.irs--flat .irs-line {
  top: 13px;
  height: 2px;
  background-color: #808080;
  border-radius: 0;
}

.irs--flat .irs-handle {
  box-shadow: 0px 0px 13px 0px rgba(90, 90, 90, 0.2);
  background-color: #F4683F;
  top: 3px;
  width: 8px;
  height: 23px;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 13px;
  background-color: #808080;
  height: 2px;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

// =============================================================

.about-us {

  /* .about-us__container */
  @include adaptiveValue("padding-top", 200, 100);
  @include adaptiveValue("padding-bottom", 200, 100);
  background-image: url('@img/about/bg-about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  color: #333333;

  &__container {}

  /* .about-us__title */

  &__title {
    color: rgb(51, 51, 51);
    font-family: Raleway;
    font-size: 40px;
    @include adaptiveValue("font-size", 40, 20);
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    @include adaptiveValue("margin-bottom", 76, 38);
  }

  /* .about-us__wrapp */

  &__wrapp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  /* .about-us__item */

  &__item {}

  /* .about-us__img */

  &__img {
    margin-bottom: 23px;
  }

  /* .about-us__text */

  &__text {
    max-width: 331px;
  }
}

// =============================================
.popular {

  /* .popular__container */
  color: rgb(51, 51, 51);

  &__container {}

  /* .popular__title */

  &__title {
    color: rgb(51, 51, 51);
    font-family: Raleway;
    @include adaptiveValue("font-size", 40, 20);
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    @include adaptiveValue("margin-bottom", 80, 40);
  }

  /* .popular__wrapp */

  &__wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 40, 20);
    flex-wrap: wrap;

    @media (max-width: em(625)) {
      flex-direction: column;
      justify-content: center;
    }
  }

  /* .popular__item */

  &__item {
    @include adaptiveValue("border-radius", 20, 10);
    box-shadow: 0px 4px 80px 0px rgba(5, 9, 22, 0.08);
    background-color: rgb(255, 255, 255);
    @include adaptiveValue("height", 650, 400);
    @include adaptiveValue("width", 440, 220);

    @media (max-width: em(425)) {
      width: 100%;
    }
  }

  /* .popular__images */

  &__images {
    position: relative;
    @include adaptiveValue("margin-bottom", 30, 15);

  }

  /* .popular__people */

  &__people {
    position: absolute;
    padding: 7px 13px;
    top: 24px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 150px;
    background-color: rgb(255, 255, 255);
  }

  /* .popular__img */

  &__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include adaptiveValue("width", 440, 220);
    @include adaptiveValue("height", 298, 149);

    @media (max-width: em(425)) {
      width: 100%;
    }
  }

  /* .popular__like */

  &__like {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 200px;
    box-shadow: 0px 4px 20px 0px rgba(21, 22, 34, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
  }

  /* .popular__text */

  &__text {
    color: rgb(51, 51, 51);
    font-family: Raleway;
    @include adaptiveValue("font-size", 24, 14);
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
    padding: 0 30px;
  }

  /* .popular__list */

  &__list {}

  /* .popular__list-item */

  &__list-item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    padding: 0 30px;
  }

  /* .popular__box */

  &__box {
    @include adaptiveValue("padding-top", 40, 20);
    @include adaptiveValue("padding-bottom", 40, 20);
    @include adaptiveValue("padding-left", 30, 15);
    @include adaptiveValue("padding-right", 30, 15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("gap", 66, 10);
  }

  /* .popular__price */

  &__price {
    color: rgb(51, 51, 51);
    font-family: Raleway;
    @include adaptiveValue("font-size", 22, 14);
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }

  /* .popular__link */

  &__link {
    color: rgb(244, 104, 63);
    font-family: Montserrat;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
}

// ========================
.for-you {

  /* .for-you__container */
  @include adaptiveValue("padding-top", 120, 60);
  @include adaptiveValue("padding-bottom", 250, 125);
  background-image: url('@img/for-you/bg-for-you.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__container {}

  /* .for-you__title */

  &__title {
    color: rgb(51, 51, 51);
    font-family: Raleway;
    @include adaptiveValue("font-size", 40, 20);
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    @include adaptiveValue("margin-bottom", 80, 40);
  }

  /* .for-you__wrapp */

  &__wrapp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("gap", 40, 20);
    @include adaptiveValue("margin-bottom", 60, 30);

    @media (max-width: em(1370)) {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    @media (max-width: em(530)) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  /* .for-you__item */

  &__item {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 21, 10);
    padding: 50px 44px;
    @include adaptiveValue("width", 440, 220);
    @include adaptiveValue("height", 130, 65);
    @include adaptiveValue("border-radius", 20, 10);
    box-shadow: 0px 4px 80px 0px rgba(5, 9, 22, 0.08);
    background: rgb(255, 255, 255);

    @media (max-width: em(768)) {
      width: 100%;
    }
  }

  /* .for-you__img */

  &__img {}

  /* .for-you__text */

  &__text {
    color: rgb(51, 51, 51);
    font-family: Montserrat;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }

  /* .for-you__btn */

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    padding: 10px 51px;
    @include adaptiveValue("border-radius", 200, 100);
    background: rgb(244, 104, 63);
  }
}

//==============================
.questions {
  @include adaptiveValue("padding-bottom", 200, 100);

  &__main-title {
    @include adaptiveValue("max-width", 531, 265);
    @include adaptiveValue("font-size", 40, 20);
    @include adaptiveValue("margin-bottom", 80, 48);
    color: rgb(51, 51, 51);
    font-family: Raleway;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__list {
    margin: 0 auto;
  }

  &__item {
    @include adaptiveValue("margin-bottom", 20, 10);
  }

  &__title {
    position: relative;
    width: 100%;
    @include adaptiveValue("padding-top", 20, 10);
    @include adaptiveValue("padding-bottom", 20, 10);
    @include adaptiveValue("padding-right", 30, 15);
    text-align: left;
    border: none;
    @include adaptiveValue("font-size", 22, 12);
    line-height: 21px;
    color: rgb(51, 51, 51);
    transition: all 0.3s;
    border-top: 1px solid rgb(192, 194, 215);

    &::after {
      content: "";
      position: absolute;
      @include adaptiveValue("right", 20, 10);
      @include adaptiveValue("bottom", 33, 16);
      @include adaptiveValue("width", 17, 9);
      @include adaptiveValue("height", 17, 9);
      border: 2px solid;
      border-color: transparent transparent rgb(51, 51, 51) transparent;
      transition: border-color 0.5s ease-in-out, bottom 0.5s ease-in-out;
    }

    &::before {
      content: "";
      position: absolute;
      @include adaptiveValue("right", 28, 13);
      @include adaptiveValue("bottom", 26, 13);
      @include adaptiveValue("width", 17, 9);
      @include adaptiveValue("height", 17, 9);
      border: 2px solid;
      border-color: transparent rgb(51, 51, 51) transparent transparent;
      transition: border-color 0.5s ease-in-out, bottom 0.5s ease-in-out;
    }

    &.active:after {
      border-color: transparent transparent rgb(51, 51, 51) transparent;
    }

    &.active::before {
      border-color: transparent transparent transparent transparent;
    }

  }

  &__description {
    margin-top: -2px;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-in-out;

    &.active {
      height: auto;
    }

    p {
      background: #fff;
      @include adaptiveValue("padding-top", 20, 10);
      @include adaptiveValue("padding-bottom", 20, 10);
      @include adaptiveValue("padding-right", 30, 15);
      font-weight: 400;
      @include adaptiveValue("font-size", 18, 10);
      line-height: 19px;
      color: rgb(51, 51, 51);
    }
  }
}

// ======================
.proposal {

  /* .proposal__container */
  @include adaptiveValue("padding-top", 233,117);
  @include adaptiveValue("padding-bottom", 294, 147);
  background-image: url('@img/bg-rent.png');
  background-size: cover;
  &__container {}

  /* .proposal__title */

  &__title {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    @include adaptiveValue("font-size", 40, 20);
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    @include adaptiveValue("margin-bottom", 20, 10);
  }

  /* .proposal__text */

  &__text {
    color: rgb(255, 255, 255);
    max-width: 360px;
    font-family: Montserrat;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    @include adaptiveValue("margin-bottom", 60, 30);
  }

  /* .proposal__btn */

  &__btn {
    padding: 10px 50px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    @include adaptiveValue("font-size", 18, 14);
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 200px;
    background-color: rgb(244, 104, 63);
  }
}